html, body{
	width:100%;
	height:100%;
}
body{
	font-family: Helvetica, sans-serif;
	font-size:18px;
}
.top{
	background: url(../img/bg_info.png) center center;
	color:#fff;
	text-align:center;
}
.top h1{
	font-family: "HelveticaBold";
	font-size:36px;
	margin:0;
	padding:0;
	margin-bottom:40px;
}
.top h4{
	font-size:18px;
	margin:0;
	padding:0;
}
.lineBlue, .lineGray, .lineWhite{
	margin-top:-7px;
	margin-bottom:-7px;
	position:relative;
	z-index:9999;
	width:100%;
	height:14px;
}
.lineBlue{
	background:url(../img/line_blue.png) repeat-x;
}
.lineGray{
	background:url(../img/line_gray.png) repeat-x;
}
.lineWhite{
	background:url(../img/line_white.png) repeat-x;
}
header{
	text-align:center;
	background:#3399cc;
	color:#fff;
	padding:100px 0;
}
.bgBlack{
	padding:100px 0;
	width:100%;
	height:100%;
	background:rgba(28,29,30,.6);
}
.info{
	background:#fff;
	padding:100px 0;
}
.info h2{
	font-family: "HelveticaBold";
	font-size:30px;
	margin:0;
	padding:0;
	color:#2b2b2b;
}
.info p{
	padding-bottom:10px;
}
.info .col-xs-11{
	padding-left:0;
}
.info img{
	max-width:80%;
}
.info small{
	font-size:12px;
	text-align:left;
}
.cause{
	padding:100px 0;
	text-align: center;
	color:#fff;
	font-size:24px;
	background: url(../img/pm.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.sale{
	padding:100px 0;
	text-align: center;
	color:#fff;
	font-size:24px;
	background:#3399cc;
}
.sale small{
	font-size:18px;
	line-height:10px;
}
.steps{
	padding-top:80px;
}
.steps .col-xs-1 img{
	margin-top:46px;
}
.btn-red{
	padding:0;
	height:40px;
	background:#c13131;
	color:#fff;
	transition:.3s;
}
.btn-red:hover{
	background:#aa2525;
	color:#fff;
}
.ps{
	padding:100px 0;
	text-align: center;
	color:#fff;
	background:#3399cc;
}
.btn-orange{
	margin-top:40px;
	height:60px;
	font-size:18px;
	background:#ff9900;
	color:#fff;
	transition:.3s;
}
.btn-orange:hover{
	background:#ff6600;
	color:#fff;
}